<div class="wrapper">
    <div class="container admin_con">
            <div class="row">
                <span class="layui-breadcrumb" lay-separator=">">
                        <a href="{:url('index')}" class="btn-addtabs btn-success" title="客户管理" style="background-color: unset">客户管理</a>
                        <a><cite>创建客户</cite></a>
                </span>
            </div>
            <div class="row customer-form-nav">
                <div class="shortcut-navigation white-bg" id="shortcut-navigation">
                    <p>
                        <span class="shortcut-navigation-sp">快捷导航</span>
                    </p>
                    <ul>
                        <li><a href="#Basics">基础信息</a></li>
                        <li><a href="#Contacts">联系人信息</a></li>
                        <li><a href="#Process">服务进程</a></li>
                        <li><a href="#Patient">患者信息</a></li>
                        <li class="Physical-box"><a href="#Physical_examination">体检信息</a></li>
                        <li><a href="#Submit">保存</a></li>
                    </ul>
                </div>
                <div class="customer-form-box">
                    <form class="layui-form" action="" style="display:none"  lay-filter="add-form">
                        <!-- 基础 -->
                        <div class="Basics-box white-bg customer-form-com">
                            <a name="Basics"></a>
                            <p class="p1">基础信息</p>
                                <div> 
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">客户姓名</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="customer[customer_name]" required  lay-verify="required" placeholder="请输入客户姓名" autocomplete="off" class="layui-input">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">客户性别</label>
                                            <div class="layui-input-block">
                                                <select name="customer['customer_sex']" lay-verify="required">
                                                        <option value="">请选择客户性别</option>
                                                        <option value="0">男</option>
                                                        <option value="1">女</option>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">客户生日</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="customer[customer_birthday]" required readonly lay-verify="required" placeholder="请选择客户生日" id="birthday" class="layui-input">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">客户年龄</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="customer[customer_age]" id="customer_age" required readonly lay-verify="required" class="layui-input">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">工作行业</label>
                                            <div class="layui-input-block">
                                                    <select name="customer['customer_industry']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            {foreach $IndustryData as $v}
                                                            <option value="{$v.id}">{$v.name}</option>
                                                            {/foreach}
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">职务</label>
                                            <div class="layui-input-block">
                                                    <select name="customer['customer_post']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="1">企业主</option>
                                                            <option value="2">总经理</option>
                                                            <option value="3">部门经理</option>
                                                            <option value="4">职员</option>
                                                            <option value="5">自由职业者</option>
                                                            <option value="6">退休</option>
                                                            <option value="7">秘书</option>
                                                            <option value="8">其他</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">咨询方式</label>
                                            <div class="layui-input-block">
                                                    <select name="Consultation['Consultation_mode']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="1">上门来访</option>
                                                            <option value="2">电话咨询</option>
                                                            <option value="3">留言咨询</option>
                                                            <option value="4">在线咨询</option>
                                                            <option value="5">主动去电</option>
                                                            <option value="6">上门去访</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">咨询时间</label>
                                            <div class="layui-input-block">
                                                <input type="text" name="Consultation[Consultation_time]" required readonly lay-verify="required" placeholder="请选择客户生日" id="Consultation_time" class="layui-input">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">客户记录类型</label>
                                            <div class="layui-input-block">
                                                    <select name="Consultation['customer_type']" lay-verify="required" lay-filter='customer_type'>
                                                            <option value="">请选择</option>
                                                            <option value="1">市场渠道</option>
                                                            <option value="2">个人客户</option>
                                                            <option value="3">企业渠道</option>
                                                            <option value="4">保险渠道</option>
                                                            <option value="5">医院渠道</option>
                                                            <option value="6">老客推荐</option>
                                                            <option value="7">银行渠道</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">客户途径</label>
                                            <div class="layui-input-block">
                                                <select name="Consultation['customer_channel']" id="customer_channel">
                                                        <option value="">请选择</option>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">客户星级</label>
                                            <div class="layui-input-block">
                                                    <select name="Consultation['customer_Star_class']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="1">一星级</option>
                                                            <option value="2">二星级</option>
                                                            <option value="3">三星级</option>
                                                            <option value="4">四星级</option>
                                                            <option value="5">五星级</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">客户级别</label>
                                            <div class="layui-input-block">
                                                <select name="Consultation['customer_level']" lay-verify="required">
                                                        <option value="">请选择</option>
                                                        {foreach $LevelData as $v}
                                                        <option value="{$v.id}">{$v.name}</option>
                                                        {/foreach}
                                                </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">咨询国别</label>
                                            <div class="layui-input-block">
                                                    <select name="Consultation['Consultation_country']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="1">中国</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">咨询项目</label>
                                            <div class="layui-input-block">
                                                <select name="Consultation['Consultation_project']" lay-verify="required" lay-filter="Consultation_project">
                                                        <option value="">请选择</option>
                                                        <option value="1">医疗</option>
                                                        <option value="2">体检</option>
                                                        <option value="3">远程诊断</option>
                                                        <option value="4">医疗体检</option>
                                                        <option value="5">其他</option>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp is_shops">
                                        <label class="layui-form-label">是否到店</label>
                                        <div class="layui-input-block">
                                                <input type="checkbox" name="Consultation[is_shop]" title="是否到店">
                                        </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">关注方向</label>
                                            <div class="layui-input-block">
                                                    <input type="checkbox" name="Consultation[zhiliaojishu]" title="治疗技术" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[yaopin]" title="药品" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[yiyuan]" title="医院" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[zhuanjia]" title="专家" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[case]" title="服务案例" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[feiyong]" title="费用" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[chanpin]" title="产品" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[liucheng]" title="流程" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[baoxian]" title="保险" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[baoxiao]" title="报销" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[guowaiyoushi]" title="国外优势" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[hopeyoushi]" title="厚朴方舟优势" lay-skin="primary">
                                                    <input type="checkbox" name="Consultation[qita]" title="其他" lay-skin="primary">
                                            </div>
                                    </div>

                                    <div class="layui-form-item customer-form-inp ">
                                            <label class="layui-form-label">备注</label>
                                            <div class="layui-input-block">
                                                    <textarea name="Consultation[remark]" placeholder="请输入内容" class="layui-textarea"></textarea>
                                            </div>
                                    </div>
                                </div>
                        </div>
                        <div class="Contacts-box white-bg customer-form-com">
                            <a name="Contacts"></a>
                            <p class="p1">联系人信息</p>
                            <div>
                                <div class="layui-form-item customer-form-inp">
                                        <label class="layui-form-label">与咨询客户关系</label>
                                        <div class="layui-input-block">
                                                <select name="Contacts['Contacts_relationship']"  id="Contacts_relationship" lay-verify="required">
                                                        <option value="">请选择</option>
                                                        <option value="1">父母</option>
                                                        <option value="2">子女</option>
                                                        <option value="3">兄弟</option>
                                                        <option value="4">兄妹</option>
                                                        <option value="5">姐弟</option>
                                                        <option value="6">姐妹</option>
                                                        <option value="7">配偶</option>
                                                        <option value="8">朋友</option>
                                                        <option value="9">其他</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                        <label class="layui-form-label">联系电话</label>
                                        <div class="layui-input-block">
                                                <input type="text" name="Contacts[Contacts_phone]" required  lay-verify="required"  lay-verify="Contacts_phone" placeholder="请输入联系电话"  id="Contacts_phone" class="layui-input">
                                        </div>
                                </div>
                                <div class="layui-form-item customer-form-inp">
                                        <label class="layui-form-label">电子邮箱</label>
                                        <div class="layui-input-block">
                                                <input type="text" name="Contacts[Contacts_email]" required  id="Contacts_email" lay-verify="required" placeholder="请输入电子邮箱"  class="layui-input">
                                        </div>
                                </div>
                                <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                        <label class="layui-form-label">微信号</label>
                                        <div class="layui-input-block">
                                                <input type="text" name="Contacts[Contacts_weChat]" required id="Contacts_weChat" lay-verify="required" placeholder="请输入微信号"  class="layui-input">
                                        </div>
                                </div>
                                <div class="layui-form-item customer-form-inp">
                                        <label class="layui-form-label">国家</label>
                                        <div class="layui-input-block">
                                                <select name="Contacts['Contacts_country']" id="Contacts_country" lay-verify="required">
                                                        <option value="">请选择</option>
                                                        <option value="中国">中国</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                        <label class="layui-form-label">省份</label>
                                        <div class="layui-input-block">
                                                <select name="Contacts['Contacts_province']"  id="Contacts_province" lay-verify="required">
                                                        <option value="">请选择</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="layui-form-item customer-form-inp">
                                        <label class="layui-form-label">城市</label>
                                        <div class="layui-input-block">
                                                <select name="Contacts['Contacts_city']" id="Contacts_city" lay-verify="required">
                                                        <option value="">请选择</option>
                                                </select>
                                        </div>
                                </div>
                                <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                        <label class="layui-form-label">邮编</label>
                                        <div class="layui-input-block">
                                                <input type="text" name="Contacts[Contacts_zip_code]" required id="Contacts_zip_code" lay-verify="required" placeholder="请输入邮编"  class="layui-input">
                                        </div>
                                </div>
                                <div class="layui-form-item customer-form-inp">
                                        <label class="layui-form-label">收件地址</label>
                                        <div class="layui-input-block">
                                                <textarea name="Contacts[Contacts_address]" placeholder="请输入内容" id="Contacts_address" class="layui-textarea"></textarea>
                                        </div>
                                </div>
                                <div style="overflow:hidden;clear:both">
                                        <table class="layui-table" id="contacts-table" style="display:none">
                                                <thead>
                                                        <tr>
                                                           <th>关系</th>
                                                           <th>电话</th>
                                                           <th>邮箱</th>
                                                           <th>国家</th>
                                                           <th>省份</th>
                                                           <th>城市</th>
                                                           <th>操作</th>
                                                        </tr>   
                                                </thead>
                                                <tbody id="tableData">

                                                </tbody>
                                        </table>
                                </div>
                                        
                                <p class="contacts—more">
                                    <a href="javascript:;" id="addContacts" class="layui-btn layui-btn-primary">添加联系人</a>
                                </p>
                            </div>
                        </div>
                        <div class="Process-box white-bg customer-form-com">
                                <a name="Process"></a>
                                <p class="p1">服务进程</p>
                                <div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">服务环节</label>
                                            <div class="layui-input-block">
                                                <select name="row['Process_link']" lay-verify="required">
                                                        <option value="请选择"></option>
                                                        <option value="1">咨询环节</option>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">具体节点</label>
                                            <div class="layui-input-block">
                                                    <select name="row['Process_node']" lay-verify="required">
                                                        <option value="请选择"></option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">发生时间</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="row[Process_occurrence_time]"  id="Process_occurrence_time" class="layui-input">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">下次咨询时间</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="row[Process_next_time]" id="Process_next_time" class="layui-input">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">备注</label>
                                            <div class="layui-input-block">
                                                    <textarea name="row[Process_remark]" placeholder="请输入内容" class="layui-textarea"></textarea>
                                            </div>
                                    </div>
                                </div>
                        </div>
                        <div class="Patient-box white-bg customer-form-com">
                                <a name="Patient"></a>
                                <p class="p1">患者信息</p>
                                <div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">与咨询客户关系</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_relationship']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="1">父母</option>
                                                            <option value="2">子女</option>
                                                            <option value="3">兄弟</option>
                                                            <option value="4">兄妹</option>
                                                            <option value="5">姐弟</option>
                                                            <option value="6">姐妹</option>
                                                            <option value="7">配偶</option>
                                                            <option value="8">朋友</option>
                                                            <option value="9">其他</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">疾病大类</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_major_diseases']" lay-verify="required" lay-filter="Patient_major_diseases" >
                                                            <option value="">请选择</option>
                                                            {foreach $diseaseData as $v}
                                                                <option value="{$v.id}">{$v.name}</option>
                                                            {/foreach}
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">疾病小类</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_disease_subgroup']" lay-verify="required" lay-filter="Patient_disease_subgroup" id="Patient_disease_subgroup">
                                                            <option value="">请选择</option>

                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">疾病名称</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_name_of_disease']" lay-verify="required"  id="Patient_name_of_disease">
                                                        <option value="">请选择</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">患者名称</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="Patient[Patient_name]"  class="layui-input" placeholder="请输入患者名称">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">患者性别</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_sex']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="0">男</option>
                                                            <option value="1">女</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">患者生日</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="Patient[Patient_birthday]" id="Patient_birthday" class="layui-input" placeholder="请输入患者名称">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right" >
                                            <label class="layui-form-label">患者年龄</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="Patient[Patient_age]" readonly id="Patient_age" class="layui-input" >
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">工作行业</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_industry']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            {foreach $IndustryData as $v}
                                                            <option value="{$v.id}">{$v.name}</option>
                                                            {/foreach}
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">职务</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_post']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="1">企业主</option>
                                                            <option value="2">总经理</option>
                                                            <option value="3">部门经理</option>
                                                            <option value="4">职员</option>
                                                            <option value="5">自由职业者</option>
                                                            <option value="6">退休</option>
                                                            <option value="7">秘书</option>
                                                            <option value="8">其他</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp" >
                                            <label class="layui-form-label">目标医院</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_hos']" lay-verify="required" lay-search>
                                                            <option value="">请选择</option>
                                                            {foreach $hosData as $v}
                                                            <option value="{$v.id}">{$v.name}</option>
                                                            {/foreach}
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right" >
                                            <label class="layui-form-label">目标专家</label>
                                            <div class="layui-input-block">
                                                    <select name="Patient['Patient_doc']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="0">男</option>
                                                            <option value="1">女</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp" >
                                            <label class="layui-form-label">目标时间</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="Patient[Patient_target_time]" id="Patient_target_time" class="layui-input" >
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">疾病描述</label>
                                            <div class="layui-input-block">
                                                    <textarea name="Patient[Patient_desc]" placeholder="请输入内容" class="layui-textarea"></textarea>
                                            </div>
                                    </div>
                                </div>
                        </div>
                        <div class="Physical-box white-bg customer-form-com">
                                <a name="Physical_examination"></a>
                                <p class="p1">体检信息</p>
                                <div>
                                    <div class="layui-form-item customer-form-inp" style="width:100%;">
                                            <label class="layui-form-label">与咨询客户关系</label>
                                            <div class="layui-input-block">
                                                    <select name="Physical['Physical_examination_relationship']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="">请选择</option>
                                                            <option value="1">父母</option>
                                                            <option value="2">子女</option>
                                                            <option value="3">兄弟</option>
                                                            <option value="4">兄妹</option>
                                                            <option value="5">姐弟</option>
                                                            <option value="6">姐妹</option>
                                                            <option value="7">配偶</option>
                                                            <option value="8">朋友</option>
                                                            <option value="9">其他</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">患者名称</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="Physical[Physical_examination_name]"  class="layui-input" placeholder="请输入患者名称">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">患者性别</label>
                                            <div class="layui-input-block">
                                                    <select name="Physical['Physical_examination_sex']" lay-verify="required">
                                                            <option value="">请选择</option>
                                                            <option value="0">男</option>
                                                            <option value="1">女</option>
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">患者生日</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="Physical[Physical_examination_birthday]" id="Physical_examination_birthday" class="layui-input" placeholder="请输入患者生日">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right" >
                                            <label class="layui-form-label">患者年龄</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="Physical[Physical_examination_age]" readonly class="layui-input" >
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">目标医院</label>
                                            <div class="layui-input-block">
                                                    <select name="Physical['Physical_examination_hos']" lay-verify="required" lay-search>
                                                            <option value="">请选择</option>
                                                            {foreach $hosData as $v}
                                                            <option value="{$v.id}">{$v.name}</option>
                                                            {/foreach}
                                                    </select>
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">目标时间</label>
                                            <div class="layui-input-block">
                                                    <input type="text" name="Physical[Physical_examination_time]" id="Physical_examination_time"  class="layui-input" placeholder="请输入目标医院">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">关注项目</label>
                                            <div class="layui-input-block">
                                                    <input type="checkbox" name="Physical[Physical_examination_project]"  lay-skin="primary" title="呼吸系统">
                                                    <input type="checkbox" name="Physical[Physical_examination_project]"  lay-skin="primary" title="消化系统">
                                                    <input type="checkbox" name="Physical[Physical_examination_project]"  lay-skin="primary" title="神经系统">
                                                    <input type="checkbox" name="Physical[Physical_examination_project]"  lay-skin="primary" title="循环系统">
                                                    <input type="checkbox" name="Physical[Physical_examination_project]"  lay-skin="primary" title="内分泌系统">
                                                    <input type="checkbox" name="Physical[Physical_examination_project]"  lay-skin="primary" title="生殖系统">
                                                    <input type="checkbox" name="Physical[Physical_examination_project]"  lay-skin="primary" title="泌尿系统">
                                                    <input type="checkbox" name="Physical[Physical_examination_project]"  lay-skin="primary" title="运动系统">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp customer-form-inp-right">
                                            <label class="layui-form-label">必检项目</label>
                                            <div class="layui-input-block" style="min-height: 96px;">
                                                    <input type="checkbox" name="Physical[Physical_examination_project2]"  lay-skin="primary" title="pet-ct">
                                                    <input type="checkbox" name="Physical[Physical_examination_project2]"  lay-skin="primary" title="肠镜">
                                                    <input type="checkbox" name="Physical[Physical_examination_project2]"  lay-skin="primary" title="胃镜">
                                                    <input type="checkbox" name="Physical[Physical_examination_project2]"  lay-skin="primary" title="肿瘤标记物">
                                                    <input type="checkbox" name="Physical[Physical_examination_project2]"  lay-skin="primary" title="肝功能">
                                                    <input type="checkbox" name="Physical[Physical_examination_project2]"  lay-skin="primary" title="妇科">
                                                    <input type="checkbox" name="Physical[Physical_examination_project2]"  lay-skin="primary" title="男科">
                                            </div>
                                    </div>
                                    <div class="layui-form-item customer-form-inp">
                                            <label class="layui-form-label">疾病描述</label>
                                            <div class="layui-input-block">
                                                    <textarea name="Physical[Physical_examination_desc]" placeholder="请输入内容" class="layui-textarea"></textarea>
                                            </div>
                                    </div>
                                </div>
                        </div>
                        <input type="hidden" id="is_PhysicalExamination" name="is_PhysicalExamination" value="">
                        <p style="text-align:center">
                                <a name="Submit"></a>
                                <a class="layui-btn" lay-submit lay-filter="*" id="submit-btn"><i class='fa fa-spinner' style='padding-right:5px'></i>提交</a>
                                <a class="layui-btn layui-btn-danger" href="__ROOT__/"><i class='fa fa-mail-reply' style='padding-right:5px'></i>返回</a>
                        </p>
                    </form>
                </div>
            </div>
    </div>
</div>

