
        <div class="wrapper">

            <!-- 主体内容区域 -->
    <div class="admin_con">
        <div class="row">
            <p class="customer-btn-p">
                <a class="layui-btn btn-addtabs btn-success" href="{:url('customer/add')}" title="创建客户">创建客户</a>
                <a class="layui-btn">批处理</a>
            </p>
        </div>
        <div class="row">
                <div class="customer-box-left ">
                    <div class="customer-list white-bg">
                        <p class="customer-list-p1">
                            <span><a href="javascript:;">李一鸣</a></span><span>男</span><span>体检</span><span>13524859875</span><span>未签约</span>
                        </p>
                        <p class="customer-list-p2">
                            <span><a href="javascript:;">李鑫</a></span>|<span>2019-10-1 9:42:00</span>
                        </p>
                    </div>
                    <div class="customer-list white-bg">
                            <p class="customer-list-p1">
                                <span><a href="javascript:;">李一鸣</a></span><span>男</span><span>体检</span><span>13524859875</span><span>未签约</span>
                            </p>
                            <p class="customer-list-p2">
                                <span><a href="javascript:;">李鑫</a></span>|<span>2019-10-1 9:42:00</span>
                            </p>
                    </div>
                    <div class="customer-list white-bg">
                            <p class="customer-list-p1">
                                <span><a href="javascript:;">李一鸣</a></span><span>男</span><span>体检</span><span>13524859875</span><span>未签约</span>
                            </p>
                            <p class="customer-list-p2">
                                <span><a href="javascript:;">李鑫</a></span>|<span>2019-10-1 9:42:00</span>
                            </p>
                    </div>
                </div>
                <div class="customer-box-right white-bg">
                        <div class="layui-tab layui-tab-brief">
                                <ul class="layui-tab-title">
                                  <li class="layui-this">基本信息</li>
                                  <li>业务机会</li>
                                  <li>合同管理</li>
                                  <li>服务进程</li>
                                  <li>文件管理</li>
                                  <li>费用管理</li>
                                  <li>聊天</li>
                                </ul>
                                <div class="layui-tab-content">
                                  <div class="layui-tab-item layui-show">内容1</div>
                                  <div class="layui-tab-item">内容2</div>
                                  <div class="layui-tab-item">内容3</div>
                                  <div class="layui-tab-item">内容4</div>
                                  <div class="layui-tab-item">内容5</div>
                                  <div class="layui-tab-item">内容6</div>
                                  <div class="layui-tab-item">内容7</div>
                                </div>
                              </div>
                </div>
        </div>
    </div>
